a{
    color: #808080;
}
a:hover, a:focus{
    color: #AA2333;
}
h1, h2, h3, h4{
    margin-top: 10px;
}
.header{
    min-height: 80px;
    margin-top: 30px;
}
#header-logo{
    vertical-align: bottom;
    margin-bottom: -13px;
    margin-top: -22px;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    background-color: #AA2333;
}
.btn-maker{
    background-color: #AA2333;
    border-color: transparent;
}

.btn-maker:hover, 
.btn-maker:focus, 
.btn-maker:active, 
.btn-maker.active, 
.open .dropdown-toggle.btn-maker{
    background-color: #34495e;
    border-color: transparent;
}
.project .description{
    min-height: 140px;
    /*max-height: 100px;*/
}
.project .thumbnail{
    height: 200px;
    overflow: hidden;
}